* {
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}
body {
    width: 100vh;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 7px;
}
/* Шапка */
.header {
    width: 98vw;
    height: 5vh;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: rgb(93, 135, 242);
    margin-top: 1vh;
    margin-left: 7px;
    padding-left: 10px;
    color: white;   
}
/* Текст шапки */
.name {
    line-height: 5vh;
    font-size: 20px;
}
/* Окно слагов */
.slug {
    height: 40%;
    width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 7px;
    gap: 10px;
}
.allSlugs, .smartSlugs {
    height: 270px;
    width: 50%;
    background-color: rgb(93, 135, 242);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
/* .smartSlugs {
    margin-right: 1px;
}
.allSlugs {
    margin-left: 3px;
} */
.platformHead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 99%;
    height: 50px;
    font-size: 20px;
    color: white;
    padding-left: 7px;
    gap: 10px;
    margin-top: 3px;
    /* margin-right: 3px; */
}
.platform {
    flex-grow: 1;
    line-height: 100%;
    vertical-align: middle;
}
.copy, .enter {
    flex-grow: 1;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 0px solid transparent;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.checkboxes {
    width: 99%;
    max-height: 75%;
    font-size: 20px;
    color: white;
    margin-left: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    /* justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 15px;
}
/* .check-item {
    cursor: pointer;
} */
.checkbox {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-input {
  appearance: none;
  position: relative;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid #FFFFFF;
}
.checkbox-new {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 130px;
  height: 40px;
  /* padding: 3px; */
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  /* margin-left: 50px; */
  border: 1px solid transparent;
  border-radius: 20px;
  user-select: none;
}
.checkbox-new_checked,
.checkbox-input:checked + .checkbox-new > .checkbox-new_unchecked {
  display: none;
}

.checkbox-input:checked {
  background: #ffffff;
}

.checkbox-input:checked + .checkbox-new {
  color: rgb(93, 135, 242);
}
.checkbox-input:checked + .checkbox-new > .checkbox-new_checked,
.checkbox-input:not(:checked) + .checkbox-new > .checkbox-new_unchecked {
  display: initial;
}
.checkbox-input:disabled {
  background: rgb(93, 135, 242);
}
.customSlug {
    width: 99%;
    height: 50px;
    align-self: center;
    margin-bottom: 5px;
    /* max-width: 300px; */
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(73, 118, 233);
    margin-top: auto;
} 

/* Окно хешей */
.hash {
    height: 100%;
    width: 98vw;
    border: 0px solid transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 3px;
    margin-left: 7px;
}
.tariff, .promocode {
    height: 470px;
    width: 50%;
    background-color: rgb(93, 135, 242);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 4px;
    display: none;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
.inputTariff, .inputPromocode {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    max-width: 300px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(73, 118, 233);
}
.outputLink {
    width: 300px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(73, 118, 233);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.hashForms {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.platformLabel {
    color: white;
    font-size: 20px;
    line-height: 40px;
}
.outputLink {
    font-size: 20px;
    line-height: 40px;
    min-width: 400px;
    margin-left: 7px;
}
.outputBlocks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: 100%;
    width: 99%;
}
