* {
margin: 0;
color: #5D87F2;
box-sizing: border-box;
font-family: montserrat, sans-serif;
-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE/Edge */
user-select: none;
}
body {
width: 100vw;
height: 100vh;
background-color: #5D87F2;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
gap: 5px;
}
/* Общий стиль блоков */
.header, .allSlugs, .smartSlugs, .tariff, .promocode {
background-color: #ffffff;
box-shadow: 0.5px 0.5px 5px #000000;
}
.headerDark, .allSlugsDark, .smartSlugsDark, .tariffDark, .promocodeDark {
background-color: #121212;
box-shadow: 0.5px 0.5px 5px #ffffff;
}
/* Шапка */
.header, .headerDark {
width: 98vw;
min-height: 5vh;
border: 0px solid transparent;
border-radius: 5px;
margin-top: 1vh;
padding-left: 10px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}
    .themeToggle {
        background-color: #121212;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: 7px;
        width: 3vh;
        height: 3vh;
        cursor: pointer;
        border: 0px solid transparent;
        border-radius: 5px;
    }
    .themeToggleDark {
        background-image: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: 7px;
        width: 3vh;
        height: 3vh;
        cursor: pointer;
        border: 0px solid transparent;
        border-radius: 5px;
    }
/* Подвал */
.bottom {
width: 100%;
height: 5px;
background-color: transparent;
}
/* Текст шапки */
.name {
line-height: 5vh;
font-size: 22px;
}
/* Окно слагов */
.slug {
height: 100%;
width: 98vw;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
gap: 10px;
}
.allSlugs, .smartSlugs, .allSlugsDark, .smartSlugsDark {
height: 100%;
width: 49%;
max-height: 250px;
border-radius: 5px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
flex-grow: 1;
}
.platformHead {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
width: 98%;
height: 48px;
font-size: 22px;
padding-left: 11px;
margin-top: 7px;
}
.slugMain {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
height: 190px;
}
.slugContainer {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
}
.slugPanel {
display: flex;
flex-direction: column;
height: 100%;
width: 99px;
margin-left: auto;
margin-right: 7px;
justify-content: flex-start;
gap: 3px;
}
.toggleBtn {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 3px;
position: relative;
}
.inputBtn {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 3px;
margin-top: auto;
position: relative;
}
.platform {
flex-grow: 1;
line-height: 100%;
vertical-align: middle;
}
.copy, .enter, .on, .off, .delete {
flex-grow: 1;
max-width: 48px;
max-height: 48px;
min-width: 48px;
min-height: 48px;
border: 0px solid transparent;
border-radius: 5px;
background-color: transparent;
cursor: pointer;
position: relative;
}
.copySlug {
max-width: 99px;
max-height: 48px;
min-width: 99px;
min-height: 48px;
background-image: url(images/buttons/Copy.svg);
background-repeat: no-repeat;
background-size: contain;
position: relative;
}
.copyLink {
background-image: url(images/buttons/CopyOne.svg);
background-repeat: no-repeat;
background-size: contain;
margin-left: auto;
position: relative;
}
.copyOne {
background-image: url(images/buttons/CopyOne.svg);
background-repeat: no-repeat;
background-size: contain;
margin-left: auto;
position: relative;
}
.enter {
max-width: 48px;
max-height: 99px;
min-width: 48px;
min-height: 99px;
border: 0px solid transparent;
background-image: url(images/buttons/Enter.svg);
background-repeat: no-repeat;
background-size: contain;
position: relative;
}
.delete {
background-image: url(images/buttons/Trash.svg);
background-repeat: no-repeat;
background-size: contain;
position: relative;
}
.on {
background-image: url(images/buttons/On.svg);
background-repeat: no-repeat;
background-size: contain;
position: relative;
}
.off {
background-image: url(images/buttons/Off.svg);
background-repeat: no-repeat;
background-size: contain;
position: relative;
}
.checkboxes {
width: 98%;
max-height: 100%;
margin-left: 7px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 3px;
align-items: flex-start;
margin-bottom: 15px;
}
.checkbox {
position: relative;
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
}
.checkbox-input {
appearance: none;
position: relative;
background-color: transparent;
}
.checkbox-new {
position: relative;
top: 0px;
left: 0px;
display: flex;
justify-content: center;
align-items: center;
white-space: nowrap;
user-select: none;
cursor: pointer;
}
.checkbox-inputSlash:checked + .checkbox-newSlash {
cursor: pointer;
}
.checkbox-new_checked,
.checkbox-input:checked + .checkbox-new > .checkbox-new_unchecked {
display: none;
}
.checkbox-input:checked + .checkbox-new > .checkbox-new_checked,
.checkbox-input:not(:checked) + .checkbox-new > .checkbox-new_unchecked {
display: initial;
}
.checkbox-input:disabled {
background-color: transparent;
}
.checkbox-newSlash {
width: 48px;
height: 48px;
background-image: url(images/allSlugsOff/slashOff.svg);
background-repeat: no-repeat;
background-size: cover
}
.checkbox-inputSlash:checked + .checkbox-newSlash {
background-image: url(images/allSlugs/slash.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newShows {
width: 100px;
height: 48px;
background-image: url(images/allSlugsOff/showsOff.svg);
background-repeat: no-repeat;
background-size: cover
}
.checkbox-inputShows:checked + .checkbox-newShows {
background-image: url(images/allSlugs/shows.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newShowAsterisk {
width: 104px;
height: 48px;
background-image: url(images/allSlugsOff/showAsteriskOff.svg);
background-repeat: no-repeat;
background-size: cover
}
.checkbox-inputShowAsterisk:checked + .checkbox-newShowAsterisk {
background-image: url(images/allSlugs/showAsterisk.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newCollections {
width: 146px;
height: 48px;
background-image: url(images/allSlugsOff/collectionsOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputCollections:checked + .checkbox-newCollections {
background-image: url(images/allSlugs/collections.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newCollections-all {
width: 176px;
height: 48px;
background-image: url(images/allSlugsOff/collections-allOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputCollections-all:checked + .checkbox-newCollections-all {
background-image: url(images/allSlugs/collections-all.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newSearch {
width: 104px;
height: 48px;
background-image: url(images/allSlugsOff/searchOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputSearch:checked + .checkbox-newSearch {
background-image: url(images/allSlugs/search.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newSeries {
width: 96px;
height: 48px;
background-image: url(images/allSlugsOff/seriesOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputSeries:checked + .checkbox-newSeries {
background-image: url(images/allSlugs/series.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newMovies {
width: 114px;
height: 48px;
background-image: url(images/allSlugsOff/moviesOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputMovies:checked + .checkbox-newMovies {
background-image: url(images/allSlugs/movies.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newSport {
width: 88px;
height: 48px;
background-image: url(images/allSlugsOff/sportOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputSport:checked + .checkbox-newSport {
background-image: url(images/allSlugs/sport.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newTV {
width: 48px;
height: 48px;
background-image: url(images/allSlugsOff/tvOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputTV:checked + .checkbox-newTV {
background-image: url(images/allSlugs/tv.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newSlashAsterisk {
width: 48px;
height: 48px;
background-image: url(images/allSlugsOff/slashAsteriskOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputSlashAsterisk:checked + .checkbox-newSlashAsterisk {
background-image: url(images/allSlugs/slashAsterisk.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newMain {
width: 86px;
height: 48px;
background-image: url(images/smartSlugsOff/mainOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputMain:checked + .checkbox-newMain {
background-image: url(images/smartSlugs/main.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newMoviesAsterisk {
width: 124px;
height: 48px;
background-image: url(images/smartSlugsOff/moviesAsteriskOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputMoviesAsterisk:checked + .checkbox-newMoviesAsterisk {
background-image: url(images/smartSlugs/moviesAsterisk.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newFree {
width: 76px;
height: 48px;
background-image: url(images/smartSlugsOff/freeOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputFree:checked + .checkbox-newFree {
background-image: url(images/smartSlugs/free.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newAll {
width: 56px;
height: 48px;
background-image: url(images/smartSlugsOff/allOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputAll:checked + .checkbox-newAll {
background-image: url(images/smartSlugs/all.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-newActive {
width: 48px;
height: 99px;
background-image: url(images/buttons/ActivateOff.svg);
background-repeat: no-repeat;
background-size: cover;
}
.checkbox-inputActive:checked + .checkbox-newActive {
background-image: url(images/buttons/Activate.svg);
background-repeat: no-repeat;
background-size: cover;
}
.customSlug {
width: 98.5%;
height: 48px;
border: 4px solid #5D87F2;
border-radius: 5px;
font-size: 22px;
margin-top: auto;
margin-right: auto;
margin-left: 7px;
}

/* Окно хешей */
.hash {
height: 100%;
width: 98vw;
border: 0px solid transparent;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
gap: 10px;
}
.tariff, .promocode, .tariffDark, .promocodeDark {
height: 100%;
width: 49%;
border-radius: 5px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
gap: 3px;
flex-grow: 1;
}
.notification {
position: fixed;
top: 20px;
right: 20px;
background-color: #4CAF50;
color: white;
padding: 15px;
border-radius: 5px;
display: none;
animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeOut {
from {opacity: 1;}
to {opacity: 0;}
}
.inputTariff, .inputPromocode {
width: 100%;
height: 48px;
border: 4px solid #5D87F2;
border-radius: 5px;
font-size: 22px;
}
.hashForms {
display: flex;
flex-direction: row;
width: 98%;
height: 48px;
flex-wrap: nowrap;
align-items: center;
}
.platformLabel {
height: 48px;
width: 104px;
}
.outputLink {
font-size: 22px;
line-height: 22px;
width: 100%;
position: relative;
transform: translate(-4px,0px);
border-radius: 5px;
padding: 4px;
/* width: 300px; */
height: 48px;
border: 4px solid #5D87F2;
background-color: transparent;
border-radius: 5px;
font-size: 22px;
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
scrollbar-width: thin;
}
.outputBlocks {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
gap: 10px;
height: 100%;
width: 100%;
margin-left: 7px;
margin-right: 7px;
}
.linkPanel {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 3px;
width: 98%;
height: 100%;
}
.linkInput {
width: 100%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
gap: 3px;
margin-top: auto;
}
.linkBtn {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 3px;
width: 100px;
height: 100px;
margin-left: auto;
margin-top: auto;
}
.linkSmartBtn {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 3px;
width: 150px;
height: 99px;
margin-left: auto;
margin-top: auto;
}
.deletePanel {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
gap: 3px;
}
input::placeholder {
color: #5D87F2;
}
input {
border-radius: 5px;
outline-color: #5D87F2;
background-color: transparent;
}
.tooltipText, .tooltipTextDark {
visibility: hidden;
width: 120px;
background-color: #5D87F2;
text-align: center;
border-radius: 6px;
padding: 5px;
position: absolute;
z-index: 1;
bottom: 125%;
left: 20%;
transform: translateX(-50%);
opacity: 0;
transition: opacity 0.3s;
font-size: 14px;
pointer-events: none;
}
.tooltipText {
    color: #ffffff;
}
.tooltipTextDark {
    color: #121212;
}

.copy:hover .tooltipText, .copy:hover .tooltipTextDark,
.on:hover .tooltipText, .on:hover .tooltipTextDark,
.off:hover .tooltipText, .off:hover .tooltipTextDark,
.delete:hover .tooltipText, .delete:hover .tooltipTextDark,
.enter:hover .tooltipText, .enter:hover .tooltipTextDark, 
.checkbox:hover .tooltipText, .checkbox:hover .tooltipTextDark {
visibility: visible;
opacity: 1;
}
